
<div class="todo-container" ng-controller="displayCtrl">

    Search: <input type="text" ng-model="search.name">
    <ul>
        <li ng-repeat="todo in todos | filter: search">


            <input type="checkbox" ng-model="todo.completed" ng-change="update(todo)">

            <a  href="#/{{todo._id}}">{{todo.name}}</a>


            <input  type="text" ng-model="todo.note">
            <button  ng-click="update(todo)">update</button>
            <button  ng-click="delete(todo._id)">remove</button>


        </li>
    </ul>






</div>
